.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 150px;
    margin-bottom: 30px;
  }
  
  #hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  .flash-container {
    position: absolute;
    right: 0px;
  }
  
  /* The alert message box */
  .alert {
    padding: 20px;
    background-color: #f5382a; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  .success {
    padding: 20px;
    background-color: #2cc375; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  
  .posts {
    margin-right: 50px;
  }
  
  .post-info {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
  }
  .article-metadata {
    margin-left: 10px;
    border-bottom: 1px solid #dddddd;
    width: 25rem;
  }
  
  .article-title {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
  }
  
  .article-title:hover {
    color: #4298e3;
  }
  
  .article-metadata a {
    margin: 10px;
    margin-right: 30px;
    color: #4298e3;
    text-decoration: none;
  }
  
  .article-metadata a:hover {
    text-decoration: underline;
  }
  
  .media-body h2,
  p {
    padding-left: 15px;
  }

  